
.slider__item {
    width: 100%;
    max-height: 519px;
    position: relative;
  
  }
  /* Слайдер */
  .slick-slider{
    width: 100%;
    max-height: 519px;
    position: relative;
  }
  
  /* Ограничивающая оболочка */
  .slick-list {
    width: 100%;
    max-height: 519px;
    overflow: hidden;
    position: relative;
  
  }
  /* Лента слайдов */
  .slick-track{
    display: flex;
    position: relative;
  }

  @media only screen  and (max-width: 768px) {
    .slider__item {
      max-height: 450px;
    
    }
    /* Слайдер */
    .slick-slider{
      max-height: 450px;
    }
    
    /* Ограничивающая оболочка */
    .slick-list {
      max-height: 450px;
    
    }
}

@media only screen  and (max-width: 427px) {
  .slider__item {
    max-height: 380px;
  
  }
  /* Слайдер */
  .slick-slider{
    max-height: 380px;
  }
  
  /* Ограничивающая оболочка */
  .slick-list {
    max-height: 380px;
  
  }
}

@media only screen  and (max-width: 377px) {
  .slider__item {
    max-height: 350px;
  
  }
  /* Слайдер */
  .slick-slider{
    max-height: 350px;
  }
  
  /* Ограничивающая оболочка */
  .slick-list {
    max-height: 350px;
  
  }
}

  
  
  
  
  
